html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .background-image {
    height: 100vh;
    width: 100vw;
    background: url('~@/assets/ciru.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .ciru-text {
    color: white;
    font-size: 2rem;
  }
  
  @media (max-width: 767px) {
    .background-image {
      background: linear-gradient(66deg, #000000, #ff0000);
      background-size: 400% 400%;
      animation: AnimationName 1s ease infinite;
    }
  
    @keyframes AnimationName {
      0% { background-position: 0% 84% }
      50% { background-position: 100% 17% }
      100% { background-position: 0% 84% }
    }
  }